html,body{
  height:100%;
  margin:0;
  padding:0;
}

body
{
  background-color: rgb(27, 109, 171);
}

.container
{
  background-color: rgb(190, 190, 190);
  border: solid 1px rgb(190, 190, 190);
  border-radius: 5px;
  min-height: 100%;
  padding: 1%;
}




/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
height: 50px; 
margin: 20px; 
line-height: 50px;
overflow: hidden; 
}

ul.newsticker { /* that's your list */
position: relative;
left: 750px;
font: 20px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
}
ul.newsticker a {
text-decoration: none;
} 

ul.newsticker span {
margin: 0 10px 0 40px;
} 

.navbar
{
  background-color: rgb(27, 109, 171);
  border-color: rgb(27, 109, 171);
  margin-top: 2.5%;
}

.navbar-inverse .navbar-nav>.active>a
{
  background-color: rgb(27, 109, 171);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a
{
  color: white;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li
{
  color: white;
  width: calc(100% / 6);
  text-align: center;
}

.navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>li>a:hover
{
  background-color: rgb(0, 173, 237);
}

ul
{
  width: 100%;
}

img
{
  width :100px;
  margin-bottom: 20px;
}


hr
{
  color: rgb(27, 109, 171);
  background-color: rgb(27, 109, 171);
  border: solid 3px;
  border-radius: 5px;
}

.responsive-table-line td { 
position: relative;
border: 0px solid transparent;
padding-left: 50%; 
white-space: normal;
}

.responsive-table-line td:before { 
position: absolute;
top: 0px;
left: 0px;
width: 45%; 
padding-right: 15px; 
height:100%;
white-space: nowrap;
text-overflow: ellipsis;
overflow:hidden;
text-align:left;
background-color:#f8f8f8;
padding:2px;
}

@media screen and (max-width: 700px){
  h3 
  {
    font-size: 20px;
  }

  div h3 {
    text-align: center;
  }


  .responsive-table-line td:before { content: attr(data-title); }
  .responsive-table-line table, 
  .responsive-table-line thead, 
  .responsive-table-line tbody, 
  
  .responsive-table-line tr { 
    display: block; 
    }

    .responsive-table-line th{
    display: none;}

    .responsive-table-line td{
      text-align: left;
    }
}