html,body{
  height:100%;
  margin:0;
  padding:0;
}

body
{
	background-color: rgb(27, 109, 171);
}

.container
{
	background-color: rgb(190, 190, 190);
	border: solid 1px rgb(190, 190, 190);
	border-radius: 5px;
	min-height: 100%;
  padding: 1%;
}




/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
height: 50px; 
margin: 20px; 
line-height: 50px;
overflow: hidden; 
}

ul.newsticker { /* that's your list */
position: relative;
left: 750px;
font: 20px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
}
ul.newsticker a {
text-decoration: none;
} 

ul.newsticker span {
margin: 0 10px 0 40px;
} 

.navbar
{
  background-color: rgb(27, 109, 171);
  border-color: rgb(27, 109, 171);
  margin-top: 2.5%;
}

.navbar-inverse .navbar-nav>.active>a
{
  background-color: rgb(27, 109, 171);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a
{
  color: white;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li
{
  color: white;
  width: calc(100% / 6);
  text-align: center;
}

.navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>li>a:hover
{
  background-color: rgb(0, 173, 237);
}

ul
{
  width: 100%;
}

img
{
  width :100px;
  margin-bottom: 20px;
}


hr
{
  color: rgb(27, 109, 171);
  background-color: rgb(27, 109, 171);
  border: solid 3px;
  border-radius: 5px;
}

td {
  width: 20%;
}


.activityVote {
  border: solid 1px black;
  background-color: white;
  box-shadow: 6px 6px 6px #535860;
}

.glyphicon-thumbs-up {
  font-size: 30px;
  color: blue;
  margin-right: 10px;
  width: 100%;
}




.input-group{
  line-height: 50px;
  vertical-align: middle;
}

.btnAdj {
  padding: 0;
}

.formActivities {
    margin-left: 10px;
}


.activityVote a {
  text-decoration: none;
}

.conteneurImg {
  text-align: center;
}

.img1 {
  max-height: 15vh;
  width: auto;

}

@media screen (max-width: 900px){
  .activityVote{
    width: 100%;
  }

  .img1{
    height: 200px
    width: 300px;
  }
}
