html,body{
  height:100%;
  margin:0;
  padding:0;
}

body
{
	background-color: rgb(27, 109, 171);
}

.container
{
	background-color: rgb(190, 190, 190);
	border: solid 1px rgb(190, 190, 190);
	border-radius: 5px;
	min-height: 100%;
  padding: 1%;
}


/* 
    ----------------------
        CAROUSEL STYLE
    ----------------------
*/

/* Carousel base class */
.carousel {
  height: 60vh; 
  margin-bottom: 60px;
  margin: auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 60vh;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 60vh;
}

/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
height: 50px; 
margin: 20px; 
line-height: 50px;
overflow: hidden; 
}

ul.newsticker { /* that's your list */
position: relative;
left: 750px;
font: 20px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
}
ul.newsticker a {
text-decoration: none;
} 

ul.newsticker span {
margin: 0 10px 0 40px;
} 

.navbar
{
  background-color: rgb(27, 109, 171);
  border-color: rgb(27, 109, 171);
  margin-top: 2.5%;
}

.navbar-inverse .navbar-nav>.active>a
{
  background-color: rgb(27, 109, 171);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a
{
  color: white;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li
{
  color: white;
  width: calc(100% / 6);
  text-align: center;
}

.navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>li>a:hover
{
  background-color: rgb(0, 173, 237);
}

ul
{
  width: 100%;
}

img
{
  width: 100px;
  margin-bottom: 20px;
}

hr
{
  color: rgb(27, 109, 171);
  background-color: rgb(27, 109, 171);
  border: solid 3px;
  border-radius: 5px;
}

.glyphicon
{
  margin-right: 10px;
}

#boutique{
  text-align: center;
}

.details{
  float: left;
  background: transparent;
  border: 0px;
  cursor: pointer;
  text-decoration: underline;
}

.prix{
  float: right;
}

.thumbnail{
  background-color: white;
  box-shadow: 2px 2px 2px 2px #535860;
}

.ctnListe
{
  text-align: center;
}

.titleArticle
{
  text-align: center;
}

.titleProduct
{
  text-align: center;
}

.descriptionArticle
{
  text-align: left;
}

#panier {
  text-align: center;
  background-color: gray;
  border: 2px solid black;
}

#panier.fixed {
  position: fixed;
  display: inline;
  top: 0;
}

.prixArticle
{
  text-align: right;
}

.imagesProduit {
  height: 10vh;
  width: auto;
}

.date
{
  text-align: right;
}

.addToBasket 
{
  text-align: center;
}

@media screen and (max-width: 900px){
  .valid 
  {
    text-align: center;
  }

  .noMargin
  {
    margin: 0;
  }

  .title 
  {
    font-size: 18px;
    text-align: center;
  }

  .titleProduct
  {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
}