{%extends "::base.html.twig"%}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/styleShopAcceuil.css') }}">
{% endblock %}

{% block body %}
	<div class="row">
						<h1 class="col-lg-offset-1-5" id="boutique">Boutique</h1>
			</div>
			
			<!-- sous-menu -->
			<nav class="row">
                <div class="col-lg-2 ctnListe">
                    <a class="liste" href="boutique_categorie.html">Matériel informatique</a> <!-- Lien vers la page de catégorie Matos -->
                </div>
                <div class="col-lg-2 ctnListe">
                    <a class="liste" href="#">T-shirts</a>
            	</div>
                <div class="col-lg-2 ctnListe">
                    <a class="liste" href="#">Mug</a>
                </div>
                <div class="col-lg-2 ctnListe">
                    <a class="liste" href="#">Déguisements</a>
                </div>
                <div class="col-lg-2 ctnListe">
                    <a class="liste" href="#">Poster</a>
                </div>
                <div class="col-lg-2 ctnListe">
                    <a class="liste" href="#">Livres</a>
                </div>
            </nav>
			
			<hr>

			<!-- Articles de la catégorie -->
			<div class="row">
				<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
					<article> 
						<div class="col-xs-12 col-md-3 col-lg-3">
							<div class="thumbnail">
								<div class="caption">
										<h3 class="arcticlepop"> Matos Info 1 </h3>   <!-- titre article -->
										<center><img src="image/T.jpg" alt="Bureautique" class="images"></center>
										<div class="details"><a href="file:///C:/Users/frasc/OneDrive/Documents/ProjetsA2/Projet%20web/boutique_article.html">Détails</a></div><div class="prix">prix</div><br/>
										<center> <button type="button" class="btn btn-default">Ajouter au panier</button> </center>
								</div>
							</div>
						</div>
					</article>
				
					<article>
						<div class="col-xs-12 col-md-3 col-lg-3">		
							<div class="thumbnail">
								<div class="caption">
									<h3 class="arcticlepop"> Matos Info 2 </h3>
									<center><img src="image/T.jpg" alt="Bureautique" class="images"></center>
									<div class="details"><a href="file:///C:/Users/frasc/OneDrive/Documents/ProjetsA2/Projet%20web/boutique_article.html">Détails</a></div><div class="prix">prix</div><br/>
									<center> <button type="button" class="btn btn-default">Ajouter au panier</button> </center>
								</div>
							</div>
						</div>
													
					</article>
					<article> 
						<div class="col-xs-12 col-md-3 col-lg-3">
							<div class="thumbnail">
								<div class="caption">
									<h3 class="arcticlepop"> Matos Info 3 </h3>
									<center><img src="image/T.jpg" alt="Gadgets" class="images"></center>
									<div class="details"><a href="file:///C:/Users/frasc/OneDrive/Documents/ProjetsA2/Projet%20web/boutique_article.html">Détails</a></div><div class="prix">prix</div><br/>
									<center> <button type="button" class="btn btn-default">Ajouter au panier</button> </center>	
								</div>
							</div>
						</div>
					</article>
				
					<article> 
						<div class="col-xs-12 col-md-3 col-lg-3">
							<div class="thumbnail">
								<div class="caption">
										<h3 class="arcticlepop"> Matos Info 4 </h3>   <!-- titre article -->
										<center><img src="image/T.jpg" alt="matériel Hi-fi" class="images"></center>
										<div class="details"><a href="file:///C:/Users/frasc/OneDrive/Documents/ProjetsA2/Projet%20web/boutique_article.html">Détails</a></div><div class="prix">prix</div><br/>
										<center> <button type="button" class="btn btn-default">Ajouter au panier</button> </center>
								</div>
							</div>
						</div>
					</article>
				
					<article>
						<div class="col-xs-12 col-md-3 col-lg-3">		
							<div class="thumbnail">
								<div class="caption">
									<h3 class="arcticlepop"> Matos Info 5 </h3>
									<center><img src="image/T.jpg" alt="Bureautique" class="images"></center>
									<div class="details"><a href="file:///C:/Users/frasc/OneDrive/Documents/ProjetsA2/Projet%20web/boutique_article.html">Détails</a></div><div class="prix">prix</div><br/>
									<center> <button type="button" class="btn btn-default">Ajouter au panier</button> </center>
								</div>
							</div>
						</div>
													
					</article>
					<article> 
						<div class="col-xs-12 col-md-3 col-lg-3">			
							<div class="thumbnail">
								<div class="caption">
									<h3 class="arcticlepop"> Matos Info 6 </h3>
									<center><img src="image/T.jpg" alt="Bureautique" class="images"></center>
									<div class="details"><a href="file:///C:/Users/frasc/OneDrive/Documents/ProjetsA2/Projet%20web/boutique_article.html">Détails</a></div><div class="prix">prix</div><br/>
									<center> <button type="button" class="btn btn-default">Ajouter au panier</button> </center>	
								</div>
							</div>
						</div>
					</article>

				</section>
			</div>
{% endblock %}